body {

    font-family: roboto;
    color: #000000;
    background-color: #ffffff;
}
@font-face {
    font-family: Roboto;
}
a:hover {
    color: #0077bb;
    font-size: 20px;
}
a {
    color: #000;
}
p {
    font-size: 12px;
}

section nav ul li {
    padding: 15px;
    text-align: center;
    border: 2px #000000 solid;
    float: left;
    border-radius: 10px;
    list-style: none;
    margin-left: 10%;
}