body {
    background-color: #d9ddd7;
    font-family: Verdana;
}

h1 {
    color: #08A363;
}

p {
    color: #fff;
    background-color: #6a7689;
    padding: 20px;

}

.highlight {
    color: yellow;
    border: solid 2px yellow;
    text-align: center;
}

p a {
    color: #ffffff;
}
a:hover {
    color: #6df469;
}